/*
本css文件为黑底白字的子网页提供
*/
body {
    color: white;
    height: 100%;
    background: black;
}

.text {
    height: auto;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.lefttext {
    height: auto;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

.URL {
    font-size: 30px;
    color: rgb(119, 238, 255);
    text-decoration: none;
}

img,
object,
embed,
iframe {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    border: 0;
}

#github-metrics {
    height: 525px;
    width: 485px;
}

.moe-rule34 {
    height: 100px;
    width: 450px;
}

.gelbooru {
    height: 150px;
    width: 680px;
}

h1,
h2,
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}